{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>RAG-Report</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-left">
            <p>
                Welcome to the Red Amber Green report application. I am currently under construction so use me with
                care. I really would not place any critical information here as I may need to delete it at some point.
                I hope to take suggestions for improvements in the future so please check back often!
            </p>
            <p>
                If you didn't notice, you can find links above to register a new account. The account information is
                stored in a temporary database right now so I wouldn't use a password you use other places. Thanks!
            </p>
        </div>
    </div>
{% endblock %}